@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.boutonPlus{
  color: white;
}

.material-symbols-outlined{
  font-size: inherit !important;
}



.navbar{
  position: fixed;
  width: calc(100% - 0.38vw);
  height: 8vw;
  transition: 0.5s;
  border: 0.2vw solid black;
  top: 0;
  font-size: 5vw;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: stretch;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}

.fleche{
  color: white;
  display:none !important;
}

.logo{
  height: 100%;
  width: 15%;
  transition: 0.5s;
  margin-top: 0.6vw;
  margin-left: 1vw;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60%;
  padding: 0 2vw;
  gap:1vw;

}

.navBouton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 0, 112);
  color: white;
  text-wrap: nowrap;
  font-size: 1.6vw;
  border-radius: 1vw 0.4vw 1vw 0.4vw;
  border: 0.5vw solid rgb(63, 0, 63);
  padding: 3px 5px;
  height: 3vw;
  width: 8.5vw;
  text-decoration: none;
  
}

.navBouton:hover{
  background-color: rgb(63, 0, 63);
}

.boutonLogIn{
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.logIn{
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 223, 241);
  color: rgb(49, 9, 87);
  text-align: center;
  font-size: 1.75vw;
  border-radius: 5px 20px 5px 20px;
  border: 1vw solid rgb(96, 0, 96);
  padding: 3px 5px;
  text-decoration: none;
  height: 4vw;
  width: 55%;
  justify-content: center;
  align-items: center;
}

.logIn:hover{
  background-color: rgb(221, 189, 221);

}



@keyframes changewidth {
  from {
    transform: scale(1);
  }

  to {
      transform: scale(1.075);
  }
}



.current{
  animation-duration: 1.5s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (max-width: 800px) {
  .menu{
      display:none;
  }

  .navbar{
      background-color: blueviolet;
      height: 8vw;
  }

  .logo{
      display: none;
      align-items: center;
      justify-content: center;
      width: 20%;
  }

  .navBouton{
      height: 4.5vw;
      width:15.5vw;
      font-size: 2.625vw;
  }

  .fleche{
      display:inline-block !important;
      position: relative;
      left: 50%;
      top:1vw;
  }

  .navbar:hover .menu{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%;
      align-items: center;
  }

  .navbar:hover .logo{
      display: flex;
      transition: 0.5s;
      position:absolute;
      top:0;
      left: 1vw;
      align-items: center;
      justify-content: center;
  }

  .navbar:hover{
      height: 20vw;
      transition: 0.5s;
  }


  .navbar:hover .fleche{
      display:none !important;
  }

  

}














.p {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.un {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.material-symbols-outlined{
  text-align: center;
}

body {
  background: linear-gradient(45deg, #330066, #ffccff, #330066 ,#ffccff );
  margin: 0;
  font-family: "Poppins", serif;
}

.Page {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 180px;
  font-size: 20px;
}


.container {
  display: flex;
  flex-direction: column; 
  gap: 20px; /* Espace entre le texte et les images */
}

.vosarticle{
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  display: flex;
  width: 65%; 
  background-color: rgb(136, 0, 136); 
  color: white;
}

.bienvenue{
  text-align: center;
  flex-direction: column;
  color: aliceblue;
  display: flex;
  position: absolute;
  top : 375px;
}


.imageprincipale {
  display: flex;
  flex-direction: column;  /* Largeur des images */
  align-items: center;
}

strong{
  text-justify: center;
}

.touslesavcbouton{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.avcbouton {
  box-shadow: #940199 0px 0px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  width: 65%; 
  background-color: rgb(136, 0, 136); 
  align-items: center; 
  color: white;
}

.grandeimage {
  width: 100%;
  opacity: 0.3;
  border-radius: 10px;
  border: 8px solid rgb(131, 0, 131);
}

.imagetexte {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; 
  width: 92%; 
  background-color: #330066;
  padding: 20px; 
  border-radius: 10px;
  border: 5px #330066;
  margin-bottom: 10px;
}


.imagetexte img {
  margin-right: 20px; /* Espace entre l'image et le texte */
}


.texte {
  color: white;
  font-size: 18px; 
  flex: 1; /* Le texte occupe l'espace restant */
}


.zones_de_texte {
  top: 750px;
  position: absolute; /* Positionnement absolu */
  right: 30px; 
  width: 30%; 
  display: flex;
  flex-direction: column;
  gap: 50px; /* Espacement entre les deux zones */
}

.zone_texte {
  box-shadow: #e700ef 0px 0px 15px;
  flex-direction: column;
  background-color: rgb(136, 0, 136); 
  color: white; 
  padding: 35px; 
  border-radius: 10px; 
  font-size: 18px; 
  gap: 10px;
}


.zone_texte2 {
  position : sticky;
  bottom: 10px;
  right: 10px;
  box-shadow: #940199 0px 0px 15px;
  flex-direction: column;
  background-color: rgb(131, 0, 131); 
  color: white; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
  gap: 10px;
}


.Boutonacheter{
  display: flex;
  justify-content: center;
  background-color: rgb(222, 90, 237);
  color: #330066;
  font-size: 20px;
  border-radius: 10%;
  height: 15px;
  width: 25px;
  padding: 20px 25px;
  text-decoration: none;
  box-shadow: #080707 0px 0px 10px;
  align-items: center;
}

.tropdeflexbox{
  display: flex;
  flex-direction: row;
  gap: 30px ;
}

@media (max-width: 870px){
  footer{
    iframe {
      display: none;
    }
  }

.zones_de_texte {
  top: 30px;
  position: relative; /* Positionnement absolu */
  width: 100%; 
  gap: 50px; /* Espacement entre les deux zones */
  right: 0px;

}

.imagetexte {
  flex-direction: column;
}

.zone_texte{
  align-items: center;
}

.container {
  align-items: center; /* Espace entre le texte et les images */
}

.imagetexte {
  width: 80%; 
}

.avcbouton {
  flex-direction: column;
  width: 100%; 
}


.zone_texte2 {
  position : fixed;
  width: 60%;
  padding: 5px;
  top: 70px;
  left: 10px;
  height : 150px;
}

}
