*{font-family: Poppins;}

body{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000000
    ;
}

.box{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px 20px 150px;
    background-color: #9402bb;
    padding: 20px 80px 20px 80px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content{
    display: flex;
    padding: 20px;
    background-color: #ba04ec;
    border-radius: 3px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 25px;
}

.perc{
    height: 250px
    ;
}

.perc:hover{
    transform: scale(1.1);
    transition: 1500ms;
}

.description{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
}


.nomarticle{
    font-size: 25px;
    color: #eae313;
}

.prix{
    color: #f2e900;
    font-size: 20px;
}

.buybutton{
    display: flex;
    background-color: #1fd207;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    padding: 15px;
}

.buybutton:hover{
    background-color: #199c07;
    color: white;
}